h1{
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: bold;
};
p{
    font-family: "Poppins", sans-serif;
    font-family: normal;
}; 
.hero{
    background-color: #F9F7FE;
    text-align: center;
};